.segment-table-container {
 // padding: 20px;
 // background-color: #f8f9fa; 
 // color: #343a40; 

 h2 {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: bold;
   color: #333;
 }
 .filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;

  .search-and-filters {
    display: flex;
    gap: 10px;

    .filter-input {
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
    }
  }

  .filter-buttons {
    display: flex;
    gap: 10px;

    .apply-btn,
    .reset-btn {
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s;

      &:hover {
        opacity: 0.9;
      }
    }

    .apply-btn {
      background-color: grey;
      color: white;
    }

    .reset-btn {
      background-color: #e9574d;
      color: white;
    }
  }
}
 .table-wrapper {
   max-height: 450px; 
   overflow-y: auto; 
   border: 1px solid #dee2e6; 
   .segment-table {
     width: 100%;
     border-collapse: collapse;
     background-color: #ffffff;
     

     thead {
      position: sticky;
      top: 0;
      z-index: 1;
       tr {
         background-color: #dee2e6;

         th {
           padding: 10px;
           text-align: left;
           font-size: 16px;
         }
       }
     }

     tbody {
       tr {
         &:nth-child(odd) {
           background-color: #f8f9fa;
         }

         &:hover {
           background-color: #e2e6ea;
         }

         td {
           padding: 10px;
           text-align: left;
           border-bottom: 1px solid #ced4da;
           font-size: 14px;
         }
       }
     }
   }
 }

 .pagination {
   display: flex;
   justify-content: right;
   align-items: center;
   margin-top: 10px;

   button {
     padding: 5px 10px;
     font-size: 14px;
     background-color: #495057;
     color: #ffffff;
     border: none;
     border-radius: 3px;
     cursor: pointer;

     &:disabled {
       background-color: #adb5bd;
       cursor: not-allowed;
     }
   }

   span {
     font-size: 14px;
   }
 }
}
