.extraction-container {

 .table-title {
   font-size: 24px;
   font-weight: bold;
   // margin-bottom: 20px;
   color: #333;
   // text-align: center;
 }

 .filters {
   display: flex;
   gap: 10px;
   margin-bottom: 10px;
   justify-content: center;

   .filter-input,
   .filter-date {
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 14px;
   }

   .filter-reset {
     background-color: #555;
     color: white;
     border: none;
     padding: 8px 15px;
     cursor: pointer;
     border-radius: 4px;
     font-size: 14px;

     &:hover {
       background-color: #333;
     }
   }
   .upload-file {
    background-color: rgb(43, 170, 184);
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

    // &:hover {
    //   background-color: #333;
    // }
  }
 }

 .table-wrapper {
   max-height: 450px; 
   overflow-y: auto;
   border: 1px solid #ccc;
   margin: 0 auto; 
   border-radius: 5px; 
 }

 .extraction-table {
   width: 100%;
   border-collapse: collapse;

   thead {
     .table-header {
       background-color: #f8f9fa;
       text-align: center;
       padding: 5px;
       font-size: 15px;
       position: sticky; 
       top: 0;
       border: 1px solid #ddd;
       z-index: 1;
     }
   }

   tbody {
     .table-row {
       &:hover {
         background-color: #f1f1f1;
       }

       .table-cell {
         text-align: center;
         padding: 10px;
         border: 1px solid #ddd;
         font-size: 14px;
       }
     }
   }
 }

 .pagination-controls {
   display: flex;
   justify-content: right;
   align-items: center;
   margin-top: 20px;
   width: 90%;
   gap: 10px;
   // margin: 0 auto; 

   .pagination-button {
     // padding: 8px 15px;
     cursor: pointer;
     border: 1px solid #ccc;
     background-color: #f9f9f9;
     // border-radius: 4px;
     font-size: 14px;

     &:hover {
       background-color: #e6e6e6;
     }

     &:disabled {
       cursor: not-allowed;
       opacity: 0.5;
       background-color: #ddd;
     }
   }

   .pagination-info {
     font-size: 14px;
     font-weight: bold;
     color: #333;
   }
 }
}
